@import "tailwindcss";

@theme {
  --color-light-frost: #e8f0fe;
  --color-pure-white: #ffffff;
  --color-ocean-blue: #0f4c81;
  --color-deep-charcoal: #333333;
  --color-fresh-mint: #abebc6;
  --color-mint-green: #81c784;
  --color-deep-mint: #66bb6a;
  --color-coral-blaze: #ff9800;
  --color-flame-red: #ff5722;
  --color-deep-flame: #e64a19;
}

@theme {
  --color-cream-beige: #f5f5dc;
  --color-warm-sand: #ffe4b5;
  --color-earth-brown: #5c4033;
  --color-slate-gray: #4a4a4a;
  --color-blush-pink: #ffc7d0;
}

@layer theme {
  /* Soft theme */
  @theme soft {
  }

  @theme warm {
    --color-app-bg: #f5f5dc; /* cream-beige */
    --color-card-bg: #ffe4b5; /* warm-sand */
    --color-div-bg: #ffe4b5;  /*earth-brown */
    --color-text-quote: #5c4033;
    --color-text-author: #4a4a4a;
    --color-blush-pink: #ffc7d0;
  }

  @theme modern {
  }
}
